@media (min-width: 1024px) {
  .text {
    display: inline;
  }
}

@media (max-width: 1024px) {
  .text {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .one-of-three-div,
  .two-of-three-div,
  .three-of-three-div {
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: center;
    text-align: center;
  }

  .one-of-three-div img,
  .two-of-three-div img,
  .three-of-three-div img {
    width: 14rem;
    height: 14rem;
    margin: auto;
  }

  .div1 {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    grid-row-gap: -1500px;
    text-align: center;
  }

  .first-div-after-nav-result-page {
    width: 90%;
    margin: 4rem auto 4rem auto;
  }

  .result-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .second-div-inside-detail {
    width: 95%;
    margin: auto;
  }

  .first-div-inside-detail {
    width: 95%;
    margin: auto;
  }

  .inside-first-div {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .inside-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }

  .last-line-footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .result-div {
    display: grid;
    grid-template-columns: 1fr;
  }

  .second-div-inside-detail {
    width: 95%;
    margin: auto;
  }

  .first-div-inside-detail {
    width: 95%;
    margin: auto;
  }

  .first-div-inside-detail .form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .btns {
    display: block;
    width: 98%;
    margin-left: 0;
    margin-top: 1rem;
    border-radius: 3px;
  }

  #inp {
    width: 98%;
    border-radius: 3px;
  }
}
